<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>node-musicmetadata browser example</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body>
<div class="container" ng-app="MusicMetaDataExample" ng-controller="DropAudioController">
  <h1>musicmetadata example</h1>

  <drag-and-drop on-drop-files="handleDropFiles"><h4>Please drag and drop an audio media file here</h4></drag-and-drop>

  <div ng-if="file">

    <h3>{{ file.name }}</h3>

    <div ng-if="metadata">
      <h4>Common metadata</h4>
      <div ng-repeat="(tag, value) in metadata.common">
        <div ng-switch on="tag">

          <div ng-switch-when="picture">
            <div class="row" ng-repeat="picture in value">
              <div class="col-lg-3">{{ tag }}</div>
              <div class="col-lg-7"><img data-ng-src="{{ picture.url }}"/></div>
            </div>
          </div>

          <div ng-switch-default>
            <div class="row">
              <div class="col-lg-3">{{ tag }}</div>
              <div ng-switch on="tag">
                  <div ng-switch-when="duration">
                    <div class="col-lg-7">{{ value }}</div>
                  </div>
                  <div ng-switch-when="musicbrainz_albumid">
                    <div class="col-lg-7"><a target="_blank" href="https://musicbrainz.org/release/{{ value }}">MusicBrainz</a></div>
                  </div>
                  <div ng-switch-when="musicbrainz_recordingid">
                    <div class="col-lg-7"><a target="_blank" href="https://musicbrainz.org/recording/{{ value }}">MusicBrainz</a></div>
                  </div>
                  <div ng-switch-when="musicbrainz_trackid">
                    <div class="col-lg-7"><a target="_blank" href="https://musicbrainz.org/track/{{ value }}">MusicBrainz</a></div>
                  </div>
                  <div ng-switch-when="musicbrainz_releasegroupid">
                    <div class="col-lg-7"><a target="_blank" href="https://musicbrainz.org/release-group/{{ value }}">MusicBrainz</a></div>
                  </div>
                  <div ng-switch-when="musicbrainz_artistid">
                    <div class="col-lg-7"><span ng-repeat="artistid in value"><span ng-if="!$first">, =</span><a target="_blank" href="https://musicbrainz.org/artist/{{ artistid }}">MusicBrainz</a></span></div>
                  </div>
                  <div ng-switch-when="musicbrainz_albumartistid">
                    <div class="col-lg-7"><span ng-repeat="artistid in value"><span ng-if="!$first">, =</span><a target="_blank" href="https://musicbrainz.org/artist/{{ artistid }}">MusicBrainz</a></span></div>
                  </div>
                   <div ng-switch-when="duration">
                      <div class="col-lg-7">{{ value | secondsToTime }}</div>
                   </div>
                  <div ng-switch-default>
                    <div class="col-lg-7">{{ value }}</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="native">
      <h4>Native metadata</h4>
      <div ng-repeat="(tag, value) in native">
        <div class="row">
          <div class="col-lg-3">{{ tag }}</div>
          <div class="col-lg-7">{{ value }}</div>
        </div>
      </div>
    </div>

  </div>

  <script src="../dist/musicmetadata.js"></script>
  <script type="text/javascript">
    // https://github.com/mikolalysenko/drag-and-drop-files
    "use strict"

    var app = angular.module('MusicMetaDataExample', []);

    app.directive('dragAndDrop', ['$http', function($http) {
      return {
        restrict: 'E',
        replace: true,
        transclude: true,
        scope: {
          text: '@',
          onDropFiles: '='
        },
        require: '?ngModel',
        template: '<div class="alert alert-info" ng-transclude></div>',
        link: function(scope, element, attrs, ngModel) {

          function handleDrop (callback, event) {
            event.stopPropagation()
            event.preventDefault()
            callback(Array.prototype.slice.call(event.dataTransfer.files))
          }

          function killEvent (e) {
            e.stopPropagation()
            e.preventDefault()
            return false
          }

          function addDragDropListener (element, callback) {
            element.addEventListener("dragenter", killEvent, false)
            element.addEventListener("dragover", killEvent, false)
            element.addEventListener("drop", handleDrop.bind(undefined, callback), false)
          }

          addDragDropListener(element[0], function (files) {
            scope.onDropFiles(files);
            scope.$apply() //this triggers a $digest
          });
        }
      };
    }])

    app.directive('albumArt', ['$http', function($http) {
      return {
        restrict: 'E',
        replace: true,
        transclude: false,
        scope: {
          text: '@',
          onDropFiles: '='
        },
        require: '?ngModel',
        template: '<img />',
        link: function(scope, element, attrs, ngModel) {

        }
      };
    }])

    app.controller('DropAudioController', function($scope, $log) {
      $log.debug('init controller...')

      var self = this;

      self.showMetaData = function(file){
        $log.debug('Retrieving metadata of file "%s"....', file.name)
        $scope.file = file

        self.getImageData = function(picture) {
          $log.debug('getImageData: %o', picture)
          return URL.createObjectURL(new Blob([picture.data], { 'type': 'image/' + picture.format }));
        }

        musicmetadata(file, function (err, metadata) {
          if (err) {
            $log.error('Error: %s', err)
            throw err;
          }
          $log.debug('Got metadata %o', metadata)
          // Post processing metadata
          $scope.metadata = metadata
          if($scope.metadata.common.picture){
            for(var i in $scope.metadata.common.picture) {
              $scope.metadata.common.picture[i].url = self.getImageData($scope.metadata.common.picture[i])
            }
          }
          for(var i in $scope.metadata) {
            if($scope.metadata[i] != 'common' && $scope.metadata[i] != 'format') {
              $scope.native = $scope.metadata[i];
            }
          }

          $scope.$apply()
          /*
           if (metadata.common.picture.length > 0) {
           var picture = metadata.common.picture[0];
           var url = URL.createObjectURL(new Blob([picture.data], { 'type': 'image/' + picture.format }));
           var image = document.getElementById('myimg');
           image.src = url;
           }
           var div = document.getElementById('info');
           div.innerText = JSON.stringify(metadata, undefined, 2);
           */
        });
      }

      $scope.handleDropFiles = function(files) {
        $log.debug('handleDropFiles: %o', files)
        self.showMetaData(files[0]);
      }

    })

    app.filter('secondsToTime', function() {

      function padTime(t) {
        return t < 10 ? "0"+t : t;
      }

      return function(_seconds) {
        if (typeof _seconds !== "number" || _seconds < 0)
          return "00:00:00";

        var hours = Math.floor(_seconds / 3600),
                minutes = Math.floor((_seconds % 3600) / 60),
                seconds = Math.floor(_seconds % 60);

        return padTime(hours) + ":" + padTime(minutes) + ":" + padTime(seconds);
      };
    })

  </script>
</div>
</body>

