version: 2
updates:

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "06:00"
    open-pull-requests-limit: 20
    versioning-strategy: increase
    target-branch: master
    labels:
      - dependencies
      - ESM
