version: 2
updates:

  # CommonJS
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 12
    labels:
      - dependencies
      - CJS
    target-branch: commonjs
    versioning-strategy: increase
    ignore:
      - dependency-name: "@types/node"
        update-types: [ "version-update:semver-patch" ]
      - dependency-name: "@types/jasmine"
        update-types: [ "version-update:semver-patch" ]
      - dependency-name: "file-type"
        versions: [ ">=17.x" ]
      - dependency-name: "mocha"
        versions: [ ">=10.x" ]
      - dependency-name: "strtok3"
        versions: [ ">=7.x" ]
      - dependency-name: "token-types"
        versions: [ ">=5.x" ]

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "06:00"
    open-pull-requests-limit: 12
    versioning-strategy: increase
    target-branch: master
    labels:
      - dependencies
      - ESM
