# Project
node_modules/
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts
doc-gen/**/*.js
doc-gen/**/*.map
test/samples/originals
test/_test-issues.ts
coverage/
.nyc_output/
test/samples/zeroes.flac

#IntelliJ IDEA:
.idea
*.iml

# Yarn:
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
