node_modules/
.idea/
*.iml
src/
test/**/*.js
test/**/*.js.map
test/**/*.d.ts
lib/**/*.js
lib/**/*.js.map
lib/**/*.d.ts
doc-gen/**/*.js
doc-gen/**/*.js.map
doc-gen/**/*.d.ts
test/samples/originals
test/_test-issues.ts
coverage/
.nyc_output/
test/samples/zeroes.flac

example/typescript/*.js
example/typescript/*.js.map
example/typescript/*.d.ts

dist/
vite-out/

.eslintcache