language: node_js
node_js:
 - "4"
 - "6"
 - "7"
 - "8"
 - "9"
install:
- npm install
script:
- npm run lint
- npm run compile
- npm run test

jobs:
  include:
    - stage: after_success
      script: npm run coveralls
      node_js: 8
